data/*
!data/raw/
data/raw/*
!data/raw/*.csv
!data/raw/*.py
!data/processed/
data/processed/*
!data/processed/*.csv
results/*
!results/phase1/
results/phase1/*
!results/phase1/*.csv
!results/phase2/
results/phase2/*
!results/phase2/*.csv
__pycache__/
*.pyc
venv/
.venv/
.vscode/

